/*     ---Fonts---     */

Body {
    font-family: 'Oswald', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', sans-serif;
}

/*     ---Color---     */

.background-color {
    background-color: #232b2b;
}

.font-color {
    color: #e9eded;
}

.standout-color {
    color: #f5f7f7;
}

/*     ---Nav---     */

.btn {
    background: none;
    border: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    background: none;
    border: none;
    visibility: hidden;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown-item {
    color: #f5f7f7;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    font-family: 'Cinzel', sans-serif;
}

.dropdown {
    margin: 10px;
}

/*     ---Footer---     */

.ftr {
    width: 100%;
    height: 75px;
}

.ftr-txt-madeby {
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Great Vibes', cursive;
    padding-left: 50px;
}

.ftr-txt-edu {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Cinzel', sans-serif;
}

.list-inline-item {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 30px;
}

.ftr-icon {
    width: 35px;
    height: 35px;
    font-size: 25px;
    background: #e9eded;
    border-radius: 25%;
    padding-top: 5px;
    color: #000;
    -moz-transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

}

.ftr-icon:hover {
    background: #babdbd;
}

.ftr-list {
    list-style-type: none;
}

/*------------------INDEX------------------*/

/*     ---Header---     */

.title-wrapper {
    height: 95vh;
    width: 100%;
    background: url('../images/title-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.title {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    padding-right: 40px;
    padding-top: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 1;
}

/*     ---Genre---     */

h2 {
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 40px;
}

.genre-txt {
    padding-bottom: 40px;
    letter-spacing: 0.5px;
    font-size: 1.5em;
    margin-left: 150px;
    margin-right: 150px;
}

/*     ---Quote---     */

.quote-wrapper {
    height: 95vh;
    width: 100%;
    background: url('../images/quote-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.quote-txt {
    padding-top: 600px;
}

/*------------------PERSONAL------------------*/

/*------------------PAGES------------------*/

/*     ---Intro---     */

.intro-wrapper {
    width: 100%;
    height: 75vh;
    background-color: green;
}